# requirements for building documentation
nbsphinx
git+git://github.com/ricklupton/nbconvert@execute-widgets#egg=nbconvert
jupyter_client
ipykernel
numpy
pandas
networkx >=1,<2
attrs
palettable
ipysankeywidget
matplotlib
